.profile_card {
  display: block;
  margin: 0 auto;
  height: 250px;
  width: 500px;
}

.biography {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  height: 160px;
  width: 160px;
  border-radius: 10px;
}
