.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
  width: 560px;
  height: 60px;
  border-style: solid;
  border-width: 1px;
  background-color: #f9f9f9;
}

.bar:hover {
  background-color: #ececec;
}

.bar_avatar {
  width: 55px;
  height: 55px;
  border-radius: 10px;
}
